/**
* Project Name		: Prayer-Request-Form
* Date				: 08-April-2015
* Developer			: Euk Thona
* Developer URL		: http://glean.net
*/


@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import 'normalize';

body {
	color: #343836;
	font-family: "museo-slab", serif;
	font-size: 14px;
	margin: 0;
}
h1, h2, h3 {
	font-family: "museo-sans-rounded",sans-serif;
	color: #789f90;
	text-transform: uppercase;
	margin: 0;
}
h1 {
	color: #fff;
	font-size: 2.5em;
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
}
h2, h3 {
	padding-top: 30px;
	margin: 0;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
p {
	font-size: 1.5em;
	text-align: left;
}
img {
	width: 100%;
}
.row {
	padding: 0;
	margin: 0;
}
.container {
	padding: 0 15px;
}
.container:nth-child( 2 ) {
	padding: 0;
}
.container:nth-child( 6 ) {
	background: #789f90;
}
.container:nth-child( 7 ) {
	padding: 0;
}
.footer {
	background: #343836;
	padding: 0 15px;
}
.logo {
	background: url(../images/logo.png) no-repeat;
	background-size: 46px 46px;
	display: block;
	text-decoration: none;
	float: left;
	text-indent: -9999px;
	margin: 15px 0 15px 15px;
	width: 46px;
	height: 46px;
}
nav {
	background: #fff;
	box-shadow: 1px 2px 4px #ccc;
	top: 0;
	width: 100%;
	position: fixed;
} 
nav ul {
	background: #fff;
	display: none;
	top: 76px;
	padding: 0;
	margin: 0;
	position: absolute;
	list-style: none;
	width: 100%;
}
nav ul a {
	color: #789f90;
	display: block;
	text-decoration: none;
	padding: 20px 15px;
}
nav ul a:hover {
	background: #789f90;
	color: #fff;
}
.menu {
	background: #eee;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 15px;
	width: 40px;
	padding: 10px;
}
.menu:hover {
	background: #789f90;
}
.menu:hover span{
	background: #fff;
}
.menu span {
	background: #789f90;
	display: block;
	margin-bottom: 3px;
	height: 3px;
	width: 18px;
}
.event {
	background: url(../images/gal-2.jpg) no-repeat;
	background-size: cover;
	padding: 45px 15px;
	margin-top: 73px;
	text-align: center;
}
.event span {
	color: #fff;
	text-transform: uppercase;
	line-height: 1.5;
}
.prayer span {
	color: #8d9290;
	display: block;
	margin: 0;
}
.prayer p {
	margin: 0;
	padding-top: 15px;
}
.email {
	background: #789f90;
}
form {
	background: #8d9290;
	margin-bottom: 0;
	font-family: "museo-sans-rounded",sans-serif;
	font-size: 1.3em;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
.email h2 {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-top: 30px;
}
.email-signup {
	color: #343836;
	display: block;
	padding-top: 20px;
}
label {
	color: #fff;
	margin-top: 20px;
	padding-bottom: 5px;
	float: left;
}
.btn  {
	background: #789f90;
	text-transform: uppercase;
	font-family: "museo-sans-rounded",sans-serif;
	font-size: 1em;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 130px;
	height: 50px;
}
.content div {
	display: inline-block;
	padding-right: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.content h3 a {
	color: #fff;
		line-height: 1.5;
}
.content  span {
	color: #fff;
	padding-bottom: 30px;
	display: block;
}
.latest-posts h2 {
	color: #fff;
	padding-bottom: 20px;
}
.latest-posts div {
	padding: 0;
}
.address {
	text-align: center;
	margin-top: 30px;
}
.address p {
	color: #789f90;
	font-family: "museo-sans-rounded",sans-serif;
	text-align: center;
}
.address p a {
	color: #789f90;
	text-decoration: underline;
}
.social-media {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 10px;
}
.social-media div {
	display: inline-block;
	padding: 7px 3px;
}