/**
* Project Name		: Prayer-Request-Form
* Date				: 08-April-2015
* Developer			: Euk Thona
* Developer URL		: http://glean.net
*/


@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import 'normalize';

body {
	color: #343836;
	font-family: "museo-slab", serif;
	font-size: 14px;
	margin: 0;
}
h1, h2, h3 {
	font-family: "museo-sans-rounded",sans-serif;
	color: #789f90;
	text-transform: uppercase;
	margin: 0;
}
h1 {
	color: #fff;
	font-size: 2.5em;
	text-align: center;
	margin: 0;
	padding-bottom: 10px;
}
h2, h3 {
	padding-top: 30px;
	margin: 0;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
}
p {
	font-size: 1.5em;
	text-align: left;
}
img {
	width: 100%;
}
.row {
	padding: 0;
	margin: 0;
}
.container {
	padding: 0 15px;
}
.fullwidths .container {
	padding: 0;
	margin: 0;
}
.fullwidth .container{
	padding: 0;
	width: 100%;
}
.container:nth-child( 5 ) {
	background: #789f90;
	margin-top: 20px;
	width: 100%;
}
.container:nth-child( 6 ) {
	padding: 0;
	width: 100%;
}
.footer {
	background: #343836;
	padding: 0 15px;
}
.logo {
	background: url(../images/logo.png) no-repeat;
	background-size: 46px 46px;
	display: block;
	text-decoration: none;
	float: left;
	text-indent: -9999px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	width: 46px;
	height: 46px;
}
nav {
	background: #fff;
	box-shadow: 1px 2px 4px #ccc;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
} 
nav ul {
	background: #fff;
	display: none;
	top: 77px;
	padding: 0;
	margin: 0;
	position: absolute;
	list-style: none;
	width: 100%;
}
nav ul a {
	color: #789f90;
	display: block;
	text-decoration: none;
	padding: 23px 15px;
}
nav ul li:nth-child( 5 ) a {
	color: #89c6d2;
}
nav ul li:nth-child( 5 ) a:hover {
	color: #fff;
}
nav ul a:hover {
	background: #789f90;
	color: #fff;
}
.menu {
	background: #eee;
	border-radius: 4px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 15px;
	width: 40px;
	padding: 10px;
}
.menu:hover {
	background: #789f90;
}
.menu:hover span{
	background: #fff;
}
.menu span {
	background: #789f90;
	display: block;
	margin-bottom: 3px;
	height: 3px;
	width: 18px;
}
.event {
	background: url(../images/gal-2.jpg) no-repeat;
	background-size: cover;
	padding: 85px 15px;
	margin-top: 65px;
	text-align: center;
}
.event span {
	color: #fff;
	text-transform: uppercase;
	line-height: 1.5;
}
.prayer span {
	color: #8d9290;
	display: block;
	margin: 0;
}
.pray p {
	margin: 0;
	padding-top: 15px;
}
.email {
	background: #789f90;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
form {
	background: #8d9290;
	margin-bottom: 30px;
	font-family: "museo-sans-rounded",sans-serif;
	font-size: 1.3em;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.email h2 {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-top: 30px;
}
.email-signup {
	color: #343836;
	display: block;
	padding-top: 20px;
}
label {
	color: #fff;
	margin-top: 20px;
	padding-bottom: 5px;
	float: left;
}
.btn  {
	background: #789f90;
	text-transform: uppercase;
	font-family: "museo-sans-rounded",sans-serif;
	font-size: 1em;
	margin-top: 30px;
	margin-bottom: 30px;
}
.content div {
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 10px;
}
.content h3 a {
	color: #fff;
		line-height: 1.5;
}
.content  span {
	color: #fff;
	padding-bottom: 30px;
	display: block;
}
.latest-posts h2 {
	color: #fff;
	padding-bottom: 20px;
}
.latest-posts div {
	padding: 0;
}
.address {
	text-align: center;
	margin-top: 30px;
}
.address p {
	color: #789f90;
	font-family: "museo-sans-rounded",sans-serif;
	text-align: center;
}
.address p a {
	color: #789f90;
	text-decoration: underline;
}
.social-media {
	text-align: center;
	padding-bottom: 30px;
	padding-top: 10px;
}
.social-media div {
	display: inline-block;
	padding: 7px 3px;
}

@media ( min-width: 768px ) {

h1 {
	font-size: 3em;
	padding-bottom: 2px;
}
.event span {
	font-size: 1.5em;
}
.event {
	padding: 145px 15px;
}
.latest-posts div {
	width: 50%;
	float: left;
	padding: 10px;
}
.latest-posts div .content {
	width: 100%;
}
}

@media ( min-width: 992px ) {

.container:nth-child( 3 ) .row:nth-child( 1 ) {
	width: 50%;
	float: left;
	margin-top: 70px;
}
.container:nth-child( 3 ) .row:nth-child( 2 ) {
	width: 35%;
	float: right;
	margin-top: 70px;
}
.menu {
	display: none;
}
nav ul {
	display: block;
	position: static;
	float: right;
	width: auto;
	padding-right: 15px;
	text-align: center;
}
nav ul a {
	font-size: 1.5em;
}
ul li {
	display: inline-block;
}
.event {
	padding: 200px 15px;
}
.pray h2 {
	padding-top: 0;
}
.pray p {
	padding-bottom: 40px;
}
.email h2 {
	margin-top: 0;
}
.container:nth-child( 5 ) {
	margin-top: 0;
}
.content {
	padding-bottom: 70px;
	margin: 0;
}
.content div {
	padding-right: 40px;
}
.content h3 {
	padding: 0;
}
.content h3 a {
	padding-top: 10px;
	padding-bottom: 0;
}
.content span {
	padding-bottom: 70px;
}
.latest-posts h2 {
	padding-top: 70px;
	margin: 0;
}
.latest-posts div { 
	width: 25%;
	padding-bottom: 0;
} 
.address {
	padding-top: 70px;
	float: left;
	padding-left: 15px;
	margin: 0;
	padding-bottom: 70px;
}
.address p a {
	text-decoration: none;
}
.address p a:hover {
	text-decoration: underline;
}
.social-media {
	float: right;
	padding-top: 70px;
	padding-right: 15px;
	padding-bottom: 70px;
}
}
@media ( min-width: 1200px ) {

	.container:nth-child( 3 ),
	nav .container {
		margin: auto;
		width: 1170px;
	}
	.latest-posts {
		margin: auto;
		width: 1170px;
	}
}